/* Mobile first queries */
/* applies to ALL widths */
body{
    background-color: #fbeec1;
}
nav{
    background-color: #659dbd;
}
header{
    padding-top: 1%;
    text-align: center;
    background-color: #89b4cc;
}
section{
    text-align: center;
    background-color: #89b4cc;
    padding-bottom: 2%;
}
footer{
    background-color: #fbeec1;
    padding-bottom: 1%;
}
.info{
    margin-top: 2%;
    text-align: center;

}
.navigation{
    padding-top: 1%;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}
.navigation a{
    color: white;
    border-color: white;
}
.navigation a:hover{
    color: orange;
    border-color: orange;
}

.head{
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;
}
.image{
    text-align: center;
    padding-top: 1%;
}
.image img{
    width: 70%;
}
.button{
    width: 100%;
}

.main{
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
}


/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {

}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {
    header{
        text-align: left;
    }
    section{
        text-align: left;
    }
}

/* Larger than tablet */
/* applies to all widths 750px and greater */
@media (min-width: 600px) {

}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 850px) {

    .navigation{
        text-align: center;
    }
    .button{
        width:40%;
    }
}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {
    .navigation{
        text-align: center;
    }
    .button{
        width:27%;
    }
}